html {max-width: 960px;}

img {max-width: 500%;}

figure {padding: 20%;}
figure {background-color: cadetblue;}

figcaption {font-size: 50%;}
figcaption {font-family: sans-serif;}

h3 {font-family: 'Fuggles', cursive;}

html {font-size: 16px;}
html {line-height: 1.4;}

